@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .inverted-corners {
        -webkit-mask-image:
            radial-gradient(circle at top left, transparent 0, transparent  20px, black 21px),
            radial-gradient(circle at top right, transparent 0, transparent  20px, black 21px),
            radial-gradient(circle at bottom left, transparent 0, transparent  20px, black 21px),
            radial-gradient(circle at bottom right, transparent 0, transparent  20px, black 21px);
        -webkit-mask-position: top left, top right, bottom left, bottom right;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: 50% 50%;
        mask-image:
            radial-gradient(circle at top left, transparent 0, transparent 20px, black 21px),
            radial-gradient(circle at top right, transparent 0, transparent 20px, black 21px),
            radial-gradient(circle at bottom left, transparent 0, transparent 20px, black 21px),
            radial-gradient(circle at bottom right, transparent 0, transparent 20px, black 21px);
        mask-position: top left, top right, bottom left, bottom right;
        mask-repeat: no-repeat;
        mask-size: 50% 50%;
            }
};

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Palanquin+Dark:wght@400;500;600;700&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');